<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheet/style.css">
  <title>Bahrain Business Directory</title>
</head>
<body>
  <h1>Welcome to the Bahrain Business Directory!</h1>
  <img src="/assets/cooperation.png" alt="Business image" class="business">
  <p>A simple directory where users can browse small to mid-size businesses in Bahrain</p>
  <a href="/businesses" target="_blank" class="businesses-index-link">
    <div class="index-link-text">
      Browse Businesses
    </div>
  </a>
</body>
<footer>Icons by <a href="www.flaticon.com"></a>flaticon</footer>
</html>